
@bgColor: green;
@bgColorCabecera: #c1b657;
@bgColorFooter: #66cbf1;
@fontColor: #147;
@lkColorPat: #fff;
@fontFamily: Verdana, Geneva, sans-serif;
@fontSizeBase: 14px;
@paddingBase: 15px; 
@1_texto: " probando";

.cierre,
.apertura{
	padding:@paddingBase;
	text-align:center;
		p{
		padding:0;
		color: @fontColor;
			a{color:@lkColorPat}
		}
	
}
.apertura{background: @bgColorCabecera;}
.cierre{background: @bgColorFooter;}
